/.project
*/bin
*/bin/*
/.metadata
/.metadata/*
*/build
*/build/*
*/Servers/
*/Servers/*
RemoteSystemsTempFiles/.project
Servers/*
Servers
.settings
.settings/*
.project
*/.project
.classpath
*/.classpath
*.orig