/* login.html */
.modal-footer {   border-top: 0px; }

/* home.html */
#main, #main>.row {
	height:100%;
}

#main>.row {
    overflow-y:scroll;
}

.right {
	height:100%;
	width: 54%;
	float: right; 
}
.map-canvas {
	width:45%;
    height:calc(100% - 0);
    position:absolute;
    top:0;
    bottom:0;
    overflow:hidden;
}

.plazasDeseadas{
	margin-bottom: 117px;
}

/* registro.html */
.form-registro{
	width:40%;
}

.nombre-formulario{
	text-align: center;
    font-size: xx-large;
    margin: 15px 0px;
    color: #ccc;
}

.form-col1{	
    width: 49%;
    float: left;
}

.form-col2{	
    width: 49%;
    float: right;
}

.form-col3{
	width: 33%;
	float: left;
}

.form-col4{
	width: 33%;
}

.form-col5{
	width: 33%;
	float:right;
}