<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>	
	<!-- <script src="../../webapp/js/map.js"> </script> -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1mrfNs9s77OT0Hepzl_5SDe-GtKViwTM&callback=initMap"></script> -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
	    //@ sourceURL=renderMap.js 
		function initMap() {
		    var geocoder = new google.maps.Geocoder();
		    var latlng = new google.maps.LatLng(37.3580015, -5.9873419);
		    var mapOptions = {
		      zoom: 8,
		      center: latlng
		    }
		    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		    
		    var direccionPlazaActual = document.getElementById("direccionPlazaActual").value;
		    geocoder.geocode( { 'address': direccionPlazaActual}, function(results, status) {
		      if (status == google.maps.GeocoderStatus.OK) {
		        map.setCenter(results[0].geometry.location);
		        var marker = new google.maps.Marker({
		            map: map,
		            position: results[0].geometry.location
		        });
		      } else {
		        alert("Geocode was not successful for the following reason: " + status);
			      }
			  });
		}
		google.maps.event.addDomListener(window, 'load', initMap);
	</script>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1mrfNs9s77OT0Hepzl_5SDe-GtKViwTM&callback=initMap"></script> -->
	<title>Datos del usuario</title>
</head>
<body>
	<h1>Datos</h1>


	<table>

			<tr th:each="user : ${persona}">
				<td th:text="${user.nombre}">Nombre</td>
				<td th:text="${user.apellidos}">Apellidos</td>
				<td th:text="${user.email}">Email</td>
				<td>Dirección de plaza actual:<input th:value="${user.direccionPlazaActual}" id="direccionPlazaActual"></input></td>
				<td>
					<table> 
						<tr><th>Alternativas deseadas:</th></tr>
						<tr th:each="plaza : ${user.datosPlazaDeseada}">
							<td th:text="${plaza.direccionPlazaDeseada}"></td>
						</tr>	
					</table>
				</td>
				<!-- <td th:text="${user.plazaDeseada[0]}">Dirección de plaza deseada</td> -->
			</tr>


	</table>
	<div id="map" style="width:500px;height:380px;"></div>
	
    
  	<!-- <form action="#" th:action="@{/}" th:object="${personae}" method="post">
    	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Apellidos: <input type="text" th:field="*{apellidos}" /></p>
    	<p>Direccion: <input type="text" th:field="*{direccion}" /></p>
        <p>Codigo Postal: <input type="text" th:field="*{codigoPostal}" /></p>             
        <p>Email: <input type="text" th:field="*{email}" /></p>            
        <p>Telefono: <input type="text" th:field="*{telefono}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form> -->
    
    

	<p>
		<!-- Click <a th:href="@{/hello}">aquí</a>. -->
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar sesión"/>
        </form> 
	</p>
</body>
</html>