<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>Página del usuario</title>
		<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
		<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
	</head>
	<body>		
		<div id="map" class="map-canvas "></div>	<!-- col-xs-4 -->
		<div class="container-fluid" id="main">
		  <div class="row">
		  	<div class="right"> <!-- class="col-xs-8" id="right" -->
		  		<h1>Datos</h1>
				
				<table th:each="user : ${persona}">	
					<tr><td th:text="${user.nombre}">Nombre</td>
						<td th:text="${user.apellidos}">Apellidos</td></tr>					
					<tr><td th:text="${user.email}">Email</td></tr>				
					<tr><td>Dirección de plaza actual:
							<input th:value="${user.direccionPlazaActual}" id="direccionPlazaActual"></input>
						</td>
					</tr>
				</table>
				
		  		<select id="segmentoSel" class="form-control plazasDeseadas" th:each="user : ${persona}">
					<option value="" selected="selected">Alternativas deseadas</option>
					<option th:each="plaza : ${user.datosPlazaDeseada}" th:value="${plaza}" th:text="${plaza.direccionPlazaDeseada}">Segmentos</option>
				</select>
					
				<form th:action="@{/logout}" method="post">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Cerrar sesión</button>	
		            <!-- <input type="submit" value="Cerrar sesión"/> -->
		        </form>
		  	</div>
		  </div>		  
		 </div>		
		
		<!-- script references -->
		<script src="../static/js/map.js"  th:src="@{/js/map.js}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1mrfNs9s77OT0Hepzl_5SDe-GtKViwTM&amp;callback=initMap"></script>
	</body>
</html>