<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
    
    <head>
	   
  	</head>
  
    <body>
        <div th:if="${param.error}">
            Usuario y/o contraseña incorrectas.
        </div>
        <div th:if="${param.logout}">
            Sesión cerrada.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Usuario : <input type="text" name="nombre_usuario"/> </label></div><br/>
            <div><label> Contraseña: <input type="password" name="clave"/> </label></div><br/>
            <div><input type="submit" value="Iniciar sesión"/></div><br/>
        </form>
                 
    </body>
</html>